body {
      background-color:lightpink;
   font-family: arial ;
   width: 200px;
  
}
h1{
   
}

label{
    display:block;
    
    font-weight: bold;
    color: darkblue;   
}
input {
    width: 100px;
    padding: auto;
    
    border: none;
    border-radius: 6px;
}
